:root {
    --bg-color: #f0f2f5;
    --editor-bg: #ffffff;
    --terminal-bg: #1e1e1e;
    --text-main: #333;
    
    /* Kod Renkleri (Light) */
    --kw-purple: #a626a4;
    --str-green: #50a14f;
    --cls-orange: #c18401;
    --func-blue: #4078f2;

    /* Terminal Renkleri (Dark) */
    --term-text: #abb2bf;
    --term-blue: #61afef;
    --term-info: #5c6370;
}

body {
    background-color: var(--bg-color);
    font-family: 'Courier New', monospace; /* Her bilgisayarda çalışsın diye standart font */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Pencere Kasası */
.window-frame {
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    overflow: hidden;
    font-size: 15px;
}

.window-header {
    padding: 12px;
    display: flex;
    gap: 8px;
}

.light-theme .window-header { background: #e5e5e5; }
.dark-theme .window-header { background: #282c34; }

.dot { width: 12px; height: 12px; border-radius: 50%; }
.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.window-content { padding: 25px; line-height: 1.5; }

/* Kod Editörü Stilleri */
.light-theme { background: var(--editor-bg); color: var(--text-main); }
.keyword { color: var(--kw-purple); font-weight: bold; }
.class-name { color: var(--cls-orange); }
.string { color: var(--str-green); }
.function { color: var(--func-blue); }

/* Terminal Stilleri */
.dark-theme { background: var(--terminal-bg); color: var(--term-text); }
.terminal-line { margin-bottom: 10px; display: flex; align-items: center; }
.prompt { margin-right: 10px; color: var(--term-text); }
.cmd { color: #fff; font-weight: bold; }
.info { color: var(--term-info); margin-bottom: 15px; font-style: italic; }
.terminal-output.string { color: var(--term-blue); margin-bottom: 15px; }

/* Yanıp sönen imleç */
.cursor-block {
    width: 10px;
    height: 18px;
    background: #ccc;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}